/* yeah I'm editing this one */
@import "tailwindcss";
/*
:root {
  --text: #6b6375;
  --text-h: #08060d;
  --bg: #fff;
  --border: #e5e4e7;
  --code-bg: #f4f3ec;
  --accent: #aa3bff;
  --accent-bg: rgba(170, 59, 255, 0.1);
  --accent-border: rgba(170, 59, 255, 0.5);
  --social-bg: rgba(244, 243, 236, 0.5);
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sans: system-ui, "Segoe UI", Roboto, sans-serif;
  --heading: system-ui, "Segoe UI", Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}
*/
body {
  background-color: hsl(180, 52%, 96%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #9ca3af;
    --text-h: #f3f4f6;
    --bg: #16171d;
    --border: #2e303a;
    --code-bg: #1f2028;
    --accent: #c084fc;
    --accent-bg: rgba(192, 132, 252, 0.15);
    --accent-border: rgba(192, 132, 252, 0.5);
    --social-bg: rgba(47, 48, 58, 0.5);
    --shadow:
      rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
  }

  #social .button-icon {
    filter: invert(1) brightness(2);
  }
}
#root {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  border-inline: none;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background-color: hsl(180, 52%, 96%);
}
/*
.job-card {
  max-width: 100%;
  width: 1360px;
  height: 160px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  border-radius: 0.25rem;
  padding: 1rem;
  background: hsl(162, 55.6%, 96.5%);
}

.badge-new {
  border-radius: 0.5rem;
  background-color: hsl(163.1, 77.7%, 59.6%);
  color: white;
  padding: 0.125rem 0.25rem;
}
.badge-featured {
  border-radius: 0.5rem;
  background-color: red;
  color: white;
  padding: 0.125rem 0.25rem;
}

.company {
  background-color: hsl(163.1, 77.4%, 26.1%);
  border-radius: 0.25rem;
  color: hsl(163.2, 77.2%, 49.8%);
  padding: 0.25rem 0.5rem;
  font-size: 1.25rem;
}
.filter-bar {
  background-color: hsl(162.9, 45.5%, 84.9%);
  padding: 0.5rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem;
  align-items: center;
}
.filter {
  background-color: hsl(162.5, 65.8%, 71.4%);
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
}
.job-card-content {
  flex: 1;
}

.job-card-header {
  display: flex;
  align-items: center;
}
.job-list {
  max-width: 1440px;
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  background-color: hsl(152.6, 95.8%, 90.6%);
}

.tags {
  flex-wrap: wrap;
  display: flex;
  padding: 1px;
  border-radius: 3px;
  background-color: purple;
  color: yellow;
  border: none;
  transition: background 0.2s;
}

.tag {
  border: none;
  cursor: pointer;
  padding: 0.4rem 0.75rem;
  border-radius: 0.375rem;
  background: hsl(180, 29%, 50%);
  color: white;
  font-size: 0.8rem;
  font-family: inherit;
  transition: background 0.2s;
  padding: 0.25rem 0.5rem;
}
.tag:hover {
  background: hsl(180, 29%, 40%);
}
*/
body {
  margin: 0;
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  background-color: hsl(180, 52%, 96%);
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}
h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}
p {
  margin: 0;
}

code,
.counter {
  font-family: var(--mono);
  display: inline-flex;
  border-radius: 4px;
  color: var(--text-h);
}

code {
  font-size: 15px;
  line-height: 135%;
  padding: 4px 8px;
  background: var(--code-bg);
}
/*
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0px;
  margin: 0px 0;
  background: #5ba4a4;
}
*/
